<h1>Change Your Password</h1>
<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width: 400px;">
    <%= form_tag({:action => :update_password}, {:class => 'ui large form'}) do %>
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Current Password">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input<%= ' error' unless @current_user.errors[:password].empty? %>">
              <i class="lock icon"></i>
              <input type="password" name="user[password]" placeholder="New Password">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input<%= ' error' unless @current_user.errors[:password_confirmation].empty? %>">
              <i class="lock icon"></i>
              <input type="password" name="user[password_confirmation]" placeholder="Confirm New Password">
            </div>
          </div>
          <button class="ui fluid large submit button" type="submit">Change Password</button>
        </div>
    <% end %>
  </div>
</div>